
.App{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
 

 
}

#img {
  width: 250px;
  display: flex;
  margin: -30rem auto;
  margin-left: 0 auto;
  
  
}
